@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック";
}
body main {
  padding: 0 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

main #voice .voice {
  max-width: 1000px;
  margin: 0 auto;
}
main #voice .voice h2 p {
  font-size: 0.9rem;
}
main #voice .voice p {
  font-size: 1.5rem;
  text-align: center;
}
main #voice .voice .voice1 {
  margin: 30px 0;
  font-size: 1.5rem;
}
main #voice .voice .voice2 {
  font-size: 1rem;
}
main #voice .voice .voice_list .voice_set {
  background-color: white;
  margin: 30px 0;
  display: flex;
  border: 1px solid #cdcdcd;
  padding: 30px;
}
main #voice .voice .voice_list .voice_set img {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
main #voice .voice .voice_list .voice_set .voice_sub {
  width: calc(100% - 300px);
  text-align: center;
  padding-left: 30px;
}
main #voice .voice .voice_list .voice_set .voice_sub .voice_title {
  color: #0098db;
  font-weight: bold;
  margin-bottom: 10px;
}
main #voice .voice .voice_list .voice_set .voice_sub .voice_profile {
  border-left: 5px solid gray;
  padding-left: 20px;
  margin: 10px auto;
  width: 80%;
}
main #voice .voice .voice_list .voice_set .voice_sub .voice_note {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 10px;
}
main #voice .voice .voice_list .voice_set .voice_sub .voice_subtitle {
  font-size: 1rem;
}
main #voice .voice .voice_list .voice_set .voice_sub details summary {
  color: #0098db;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 50px;
  border: 1px solid #0098db;
  margin: 20px auto;
  cursor: pointer;
}
main #voice .voice .voice_list .voice_set .voice_sub details summary:hover {
  background-color: #0098db;
  color: white;
  transition: 0.3s;
}
main #voice .voice .voice_list .voice_set .voice_sub details ul li {
  text-align: left;
  padding: 10px;
}
main #voice .voice .voice_list .voice_set .voice_sub details ul .voice_sub_title {
  background-color: rgba(222, 222, 222, 0.52);
  border-radius: 10px;
}
main #voice .voice .voice_list .voice_set .voice_sub details ul .voice_sub_title::before {
  display: inline;
  content: "Q.";
  margin-right: 10px;
  color: #0098db;
}
main #voice .voice .voice_list .voice_set .voice_sub details .ul_title li {
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  main #voice .voice p {
    font-size: 1.2rem;
  }
  main #voice .voice .voice_list .voice_set .voice_sub .voice_title {
    font-size: 1.2rem;
  }
  main #voice .voice .voice_list .voice_set .voice_sub .voice_note {
    font-size: 0.8rem;
  }
  main #voice .voice .voice_list .voice_set .voice_sub details summary {
    width: 250px;
  }
}
@media screen and (max-width: 700px) {
  main #voice .voice .voice1 {
    font-size: 1.2rem;
  }
  main #voice .voice .voice2 {
    font-size: 1rem;
  }
  main #voice .voice .voice_list .voice_set {
    flex-direction: column;
  }
  main #voice .voice .voice_list .voice_set img {
    margin: 0 auto;
  }
  main #voice .voice .voice_list .voice_set .voice_sub {
    width: 100%;
    padding: 0;
  }
  main #voice .voice .voice_list .voice_set .voice_sub .voice_title {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=voice.css.map */